<div class="box box-form">
	<div class="box-header">
		<div class="col-md-6">
			<h3 style="margin-top: 2rem;" class="box-title" ng-bind="titlePage"></h3>
		</div>
		<div class="col-md-6">
			<mybutton label="Labels.Buttons.New" click="addItem()" toggle="modal" target="#MeetingRoomView"
				icon="fa fa-plus" class="btn btn-primary pull-right"></mybutton>
		</div>
		<div class="col-md-12">
			<div class='row'>
				<hr>
				<datatable tablemodel="tableModel"></datatable>
			</div>
		</div>

	</div>
</div>

<div id="MeetingRoomView" class="modal fade in" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h3 class="modal-title" ng-bind="Labels.Generals.addRoom" ng-if="modelData.id == null"></h3>
				<h3 class="modal-title" ng-bind="Labels.Generals.detailRoom" ng-if="modelData.id != null"></h3>
			</div>
			<div class="modal-body" style="border: 1px;">
				<div class="row">
					<div class="form-group">

						<form role="form" name="modelForm">
							<textbox size="6" label="Labels.MeetingRoom.roomName" model="modelData.roomName"
								require="true"></textbox>

							<textbox size="6" label="Labels.MeetingRoom.capacity" model="modelData.capacity"
								pattern="\d" maxlength="3" require="true" ></textbox>

							<datebox size="6" label="Labels.MeetingRoom.expireDate" model="modelData.expireDate"
								require="true"></datebox>

							<textareabox size="12" label="Labels.MeetingRoom.address" model="modelData.address"
							maxlength="250"	require="true">
							</textareabox>

						</form>
						<form role="form" name="tempForm">

							<combobox size="6" label="Labels.ServiceType.main" model="temp.serviceType"
								combomodel="ServiceTypeModel" require="true"></combobox>
							<textbox size="4" label="Labels.ServiceType.serviceNumber" pattern="\d" maxlength="3"
								model="temp.serviceCount" require="true">
							</textbox>
						</form>
						<div class="col-md-1" style="margin-top: 2rem;">

							<mybutton size="4" click="addService()" icon="fa fa-plus"></mybutton>
						</div>
						<div class="col-md-12">
							<clienttable tablemodel="clientTableModel" elements="modelData.service"></clienttable>
						</div>
					</div>
				</div>
			</div>
			<div class=" modal-footer">
				<hr>
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal"
					ng-bind="Labels.Buttons.cancel"></button>
				<mybutton label="Labels.Buttons.save" click="saveOrUpdate()" icon="fa fa-save">
				</mybutton>
			</div>
		</div>
	</div>
</div>