<div ng-class="size">
	<div class="form-group">
		<label ng-class=""><i ng-if="required" class="fa fa-asterisk"
			style="color: darkred !important; font-size: 12px !important;"></i> <span
			ng-bind="label"></span></label> <select ng-required="required"
			ng-disabled="ngDisabled" ng-model="ngModel" ng-change="changeValue()"
			class="form-control"
			ng-options="{{ngOptions}}">
			<option ng-if="comboModel.showNoVal" value="" data-ng-selected="comboModel.value == null">---</option>
		</select>
	</div>
</div>