<div ng-class="size">
	<div class="form-group">
		<label ng-class=""><i
			ng-if="required" class="fa fa-asterisk"
			style="color: darkred !important; font-size: 12px !important;"></i> <span
			ng-bind="label"></span></label>  <input type="text"
			class="form-control" ng-model="ngModel"
			style="direction: ltr !important;" ui-mask="99:99"
			model-view-value="true" placeholder="__:__"
			ng-pattern="/^([01][0-9]|2[0-3]):([0-5][0-9])$/"
			ng-required="required" ng-disabled="ngDisabled">
	</div>
</div>
